<a href="https://colab.research.google.com/github/Mahjabeenqamar1/Assignment_1_Numpy/blob/master/AI_CLASS_FINE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/AI_Class_Fine - Sheet1.csv')
x=data[['Reason']]
print(x.shape)
data=data[data.Reason!='late in class']
data=data[data.Reason!='Late in class']
s_name=data.loc[:,'Name of Student']
s_names=[]
for i in s_name:
        s_names.append(i)
finee=data.loc[:,'Fine']
fine=[]
for i in finee:
        fine.append(i)
total_fine=0
t_fine=[]
total_absence=[]
student_name=[]
i=0
b=1
absent=[]
for i in range(len(s_names)):
    a=s_names[i]
    count = 0
    #print(a)
    if a not in student_name:
            #print("Value of i is:",i)
            #print(a)
            student_name.append(a)
            total_fine=fine[i]
            count=count+1
            #print(total_fine)
            #print(total_fine)
            for m in range(b, len(s_names) + 1):
                if m<len(s_names):
                    #print("value of m is:",m)
                    if s_names[m]==a:
                        total_fine=total_fine+fine[m]
                        #print(total_fine)
                        count=count+1
                        #print(total_fine)
            b=b+1
            #print("total fine of {} is: {}".format(a,total_fine))
            #print("inner loop value is:",b)
            t_fine.append(total_fine)
            absent.append(count)
    else:
        b = b + 1
    #print(a)
    #print(total_fine)

for i in range(20):
  print(t_fine[i],student_name[i],absent[i])
#print(student_name)

#combining all the colmns to form a csv file
main_list = []
for i in range(len(t_fine)):
    main_list.append([student_name[i],t_fine[i],absent[i]])
print(main_list)

#creating csv file
fine_dataset = pd.DataFrame(main_list, columns=['Student_Name', 'Total_Fine','Total_absence'])
print(fine_dataset)
fine_dataset.to_csv('Fine.csv')

(69, 1)
300 Aroosh 3
400 Shahan Izhar 4
500 Mirza Usama  5
300 Iqra Irfan 3
300 Ammar 3
600 Fahad Arshad 6
400 Ayesha Amber 4
200 Aroosh  2
400 Daoud 4
300 Usman Tariq 3
100 Ammar Zahoor 1
300 Sehrish 3
200 Husnain Ali 2
100 Iqra Khalil 1
300 M.Waqas 3
100 Rizwan 1
100 Hassam Tahir 1
100 Ishwa  1
200 Mah jabeen 2
100 Hadia Ghassan 1
[['Aroosh', 300, 3], ['Shahan Izhar', 400, 4], ['Mirza Usama ', 500, 5], ['Iqra Irfan', 300, 3], ['Ammar', 300, 3], ['Fahad Arshad', 600, 6], ['Ayesha Amber', 400, 4], ['Aroosh ', 200, 2], ['Daoud', 400, 4], ['Usman Tariq', 300, 3], ['Ammar Zahoor', 100, 1], ['Sehrish', 300, 3], ['Husnain Ali', 200, 2], ['Iqra Khalil', 100, 1], ['M.Waqas', 300, 3], ['Rizwan', 100, 1], ['Hassam Tahir', 100, 1], ['Ishwa ', 100, 1], ['Mah jabeen', 200, 2], ['Hadia Ghassan', 100, 1], ['Ali Hamza', 100, 1]]
     Student_Name  Total_Fine  Total_absence
0          Aroosh         300              3
1    Shahan Izhar         400              4
2    Mirza Usama          500              5
3      Iqra Irfan         300              3
4           Ammar         300              3
5    Fahad Arshad         600              6
6    Ayesha Amber         400              4
7         Aroosh          200              2
8           Daoud         400              4
9     Usman Tariq         300              3
10   Ammar Zahoor         100              1
11        Sehrish         300              3
12    Husnain Ali         200              2
13    Iqra Khalil         100              1
14        M.Waqas         300              3
15         Rizwan         100              1
16   Hassam Tahir         100              1
17         Ishwa          100              1
18     Mah jabeen         200              2
19  Hadia Ghassan         100              1
20      Ali Hamza         100              1