<a href="https://colab.research.google.com/github/Mahjabeenqamar1/Assignment_1_Numpy/blob/master/DESCTREEES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/winequality-red.csv')

In [ ]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
# define new coloum 
data['good_quality'] = [1 if x>7 else 0 for x in data['quality']]

In [ ]:
data

      fixed acidity  volatile acidity  ...  quality  good_quality
0               7.4             0.700  ...        5             0
1               7.8             0.880  ...        5             0
2               7.8             0.760  ...        5             0
3              11.2             0.280  ...        6             0
4               7.4             0.700  ...        5             0
...             ...               ...  ...      ...           ...
1594            6.2             0.600  ...        5             0
1595            5.9             0.550  ...        6             0
1596            6.3             0.510  ...        6             0
1597            5.9             0.645  ...        5             0
1598            6.0             0.310  ...        6             0

[1599 rows x 13 columns]

In [ ]:
x = data.drop(['quality','good_quality'],axis=1)
y = data['good_quality']

In [ ]:
from sklearn.preprocessing import StandardScaler
#means =0 and var = 1 ho jata ha StandardScaler k zarya

In [ ]:
x = StandardScaler().fit_transform(x)
x

array([[-0.52835961,  0.96187667, -1.39147228, ...,  1.28864292,
        -0.57920652, -0.96024611],
       [-0.29854743,  1.96744245, -1.39147228, ..., -0.7199333 ,
         0.1289504 , -0.58477711],
       [-0.29854743,  1.29706527, -1.18607043, ..., -0.33117661,
        -0.04808883, -0.58477711],
       ...,
       [-1.1603431 , -0.09955388, -0.72391627, ...,  0.70550789,
         0.54204194,  0.54162988],
       [-1.39015528,  0.65462046, -0.77526673, ...,  1.6773996 ,
         0.30598963, -0.20930812],
       [-1.33270223, -1.21684919,  1.02199944, ...,  0.51112954,
         0.01092425,  0.54162988]])

In [ ]:
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import cross_val_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size= 0.25,random_state=0)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model1 = DecisionTreeClassifier(random_state=0)

In [ ]:
model1.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
y_pred1 = model1.predict(X_test)

In [ ]:
classification_report(y_test,y_pred1)

'              precision    recall  f1-score   support\n\n           0       0.99      0.99      0.99       395\n           1       0.00      0.00      0.00         5\n\n    accuracy                           0.98       400\n   macro avg       0.49      0.50      0.49       400\nweighted avg       0.98      0.98      0.98       400\n'